.main{
			width: 650px;
			height: 400px;
			padding: 50px 100px 110px 100px;
			border: 1px solid;
			margin: auto;
		}
		h1{
			text-align: center;
			color: red;
		}
		#form_box{
			width:500px;
			height: 30px;
			padding-left: 10px;
			float: right;
		}
		.main_commom{
			width: 170px;
			height: 35px;
			float: left;
		}
		.site1{
			height: 70px;
			margin-bottom: 10px;
		}
        .site2{
			height: 110px;
			margin-bottom: 10px;
		}
        #em{
			width: 150px;
			height: 30px;
			margin-left: 80px;
		}
		select.hp{
			height: 30px;
			width: 80px;
			margin-left: 63px;
		}
		#hp{
			width: 120px;
			height: 30px;
		}
		#em2{
			width: 150px;
			height: 30px;
		}
		#ub{
			width: 100px;
			height: 50px;
			border: 1px solid;
			float: right;
			margin-top: 10px;
			margin-right: 50px;